:root{
    --body-background: #000;
    --header: #fff;
    --header-hover: #3BF1F4;
    --button-background: #3BF1F4;
    --button-shadow: #c6feff;
    --font: #fff;
}

/*=====ESTILO GERAL=====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para que fique tudo na mesma caixa*/
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-background);
    height: 100vh;/*100% da altura da tela*/
}

.interface{
    max-width: 1280px;/*largura máxima*/
    margin: 0 auto;/*centralizar na tela*/    
}

.flex{
    display: flex;/*para que texto e imagem fiquem um ao lado do outro*/
}

/*=====ESTILO DO CABEÇALHO===== */
header{
    padding: 40px 4%;/*40px em cima e em baixo e 4% nas laterais*/
}

header > .interface{
    display: flex;/*para que os elementos fiquem um ao lado do outro*/
    align-items: center;/*alinhar os elementos no centro*/
    justify-content: space-between;/*para que os elementos fiquem um de cada lado*/
}

header a{
    color:var(--header);
    text-decoration: none;/*para tirar o sublinhado*/;
    display: inline-block; /*para que o elemento fique na mesma linha*/  
    transition: .2s;/*para que a transição seja suave*/
}

header a:hover{
    color:var(--header-hover);
    transform: scale(1.05);/*para aumentar o tamanho do elemento*/
}

header nav ul{   
    list-style: none;/*para tirar as bolinhas*/
}

header nav ul li{
    display: inline-block;/*para que os elementos fiquem um ao lado do outro*/
    padding: 0 40px;/*para que fique um espaço entre os elementos*/
}

 .btn-contato button{
    background: var(--button-background);    
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px var(--button-shadow);
}



/*=====ESTILO DO TOPO DO SITE=====*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;/*alinhar os elementos no centro*/
    justify-content: center;/*alinhar os elementos no centro*/
    gap: 90px;/*espaço entre os elementos*/
}

.topo-do-site h1{
   color: var(--font);
   font-size: 42px;
   line-height: 40px;/*espaçamento entre as linhas*/
}

.topo-do-site .txt-top-site h1 span{
    color: var(--header-hover);    
}

.topo-do-site .txt-top-site p{
    color: var(--font);
    margin: 40px 0;
}
